{
  "presets": ["next/babel"],
  "plugins": [
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          // "constants": "./constants",
          "pages": "./pages",
          "static": "./static",
          // "utils": "./utils",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
