@font-face {
  font-family: 'Kadwa';
  src: url('Kadwa-Regular.woff2') format('woff2'),
    url('Kadwa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kadwa';
  src: url('Kadwa-Bold.woff2') format('woff2'),
    url('Kadwa-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
