body {
  margin: 0;
  font-family: 'WorkSans', sans-serif !important;
}

#__next {
  height: 100vh;
  width: 100vw;
}

.slick-slide {
  padding: 0 8px;
  box-sizing: border-box;
}

.slick-list {
  height: 310px;
}
